# TypeScript artifacts
!webpack.*.js
*.d.ts
node_modules
stack.js

# Lambda artifacts + development
/target/**/*
lambdas/**/target/
clients/**/target/
bootstrap.zip
test.json

# CDK asset staging directory
.cdk.staging
cdk.out

.env
*.jpg
*.png

/target
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
dist/